# IDEs
.idea/
.vscode/

# Git
.gitattributes

# Python
__pycache__/

# Virtual Env
venv/

# PyPI
dist/
build/
MANIFEST
*.egg-info

# Local
tests/
/test.py
/*.env
.log
/info.txt
examples/

# Docs
docs/_build
docs/source/_local
