# IDEs
.idea/
.vscode/
.gitattributes

# Python
__pycache__/

# Virtual Env
venv/

# PyPI
dist/
build/
MANIFEST
*.egg-info

# Local
/test.py
/*.env
.log

# Docs
docs/_build
docs/_static
#docs/_templates
