# IDEs
.idea/
.vscode/

# Git
.gitattributes

# Python
__pycache__/
frozen-requirements.txt

# Virtual Env
venv/

# PyPI
dist/
build/
MANIFEST
*.egg-info

# Local
tests/
/test.py
/*.env
/info.txt
examples/

# Docs
#old_docs/_build
#old_docs/source/_local
/old_docs/
site/

# Temp
pystark/helpers/requests.py
requests.md
